/* @charset "UTF-8" */

* {margin: 0; padding: 0; box-sizing: border-box;}

ul {list-style: none;}

a {color: inherit; text-decoration: none;}

body {color: #222328; background-color: #fff; font-size: 14px;}

.wrap {width: 1200px; margin: 0 auto;}

/* header */
.header {height: 100px; display: flex; align-items: center; justify-content: space-between;}
.gnb {display: flex; height: 100%;}
.gnb > li {position: relative;}
.gnb > li > a {margin: 0 60px; line-height: 100px; display: block; height: 100%;}
.gnb > li:hover > a {color: tomato;}
.gnb ul {position: absolute; top: 100px; left: 0; background-color: #fff; width: 100%; display: none;}
.gnb  ul  li  a {display: block; text-align: center; padding: 8px 0;}
.gnb  ul  li  a:hover {background-color: tomato; color: #fff;}

/* slider */
.slider {height: 300px; overflow: hidden;}
.slide a {}
.slide img {display: block;}

/* contents */
.contents {height: 200px; display: flex; padding: 10px 0;gap: 12px;}

.tab {flex: 1; width: 398px; height: 200px;}
.tab_contents {position: relative;}
.tab_title {display: flex;position: relative; gap: 5px;}
.tab_title::after {content: ''; position: absolute; bottom: 0;height: 3px; width: 100%; background-color: tomato;}
.tab_title h2 {height: 50px;width: 100%; text-align: center; line-height: 50px; font-size: 16px; font-weight: normal;}
.tab_title h2.on {background-color: tomato;}
.notice {width: 392px;height: 130px;}
.notice li a {display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
padding: 6px 0;}
.notice li a:hover {color: tomato;}
.gallery {gap: 10px; height: 130px;display: none;}
.gallery li {width: 32%;height: 100%; float: left; margin-right: 2%}
.gallery li:last-child {margin-right: 0;}
.gallery li a img {display: block; width: 100%; height: 100%;object-fit: cover;}

.banner {flex: 1;}
.banner a img {display: block; object-fit: cover; width: 100%; height: 100%;}

.link {flex: 1;}
.link ul {display: grid; grid-template-columns: repeat(2,1fr);gap: 10px;}
.link ul li {display: block;background-color: #ddd;height: 85px; text-align: center;line-height: 85px; border-radius: 5px;}
.link ul li:hover {color: tomato;}

/* footer */

.footer {height: 100px; display: flex; align-items: center; justify-content: space-between; background-color: #eee; padding: 0 20px;}
.footer .sns { gap: 10px; display: flex;}
.footer .sns a {background-color: #fff; padding: 6px 12px; border-radius: 20px; color: #bbb;}
.footer .sns a:hover {color: tomato;}


.modal {background-color: #fff; width: 500px; height: 420px; border: 1px solid #bbb; padding: 50px; 
    position: fixed; top: 50%; left: 50%;transform: translate(-50%,-50%); display: none;}
.modal.active {display: block;}
.modal p {padding: 20px 0;}
.modal .btn a {width: 60px; height: 40px; line-height: 40px;text-align: center; display: block;
    background-color: #bbb; position: absolute; bottom: 50px; right: 50px;}


